.chat__input-form {
  width: 85%;
  background: #FFFFFF;
  border-radius: 33px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0 17px;
  padding-left: 5%;
  display: flex;
}

.chat__input {
  padding: 20px 2px;
  border: 0;
  width: 82%;
  outline: 0;
}

.chat__input-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0B5ED7;
  border: 0;
  background: transparent;
}

@media screen and (min-width: 1024px) {
  .chat__input-form {
    padding-left: 100px;
  }
}